*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation !important;
  -webkit-text-size-adjust: 100%; /* Prevents font zoom scaling */
user-select: none;
}

html, body {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  overscroll-behavior: none;
}

:root {
  --blue: #034EA1;
  --lightBlue :#BECDDD;
  --gray:rgba(0, 0, 0, 0.6);
}

::placeholder,button,a{
   font-family: var(--font-poppins), sans-serif;
}

body{
  min-height: 100vh;
  width: 100vw;
 font-family: var(--font-poppins), sans-serif;
}

.entry_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.entry_page_banner{
  height: 352px;
    background-color: var(--blue);
    border-radius: 0 0 50px 50px;
    background-image: url(./src/entry_banner_overlay.svg);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: bottom left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

}

.logo_container{
  height: 172px;
  width: 172px;
  border-radius: 172px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.entry_page_content{
  padding: 150px 30px 0 30px;
width: 100%;
}

.entry_page_content p.welcome_text{
  padding: 16px;
  background-color: var(--lightBlue);
  border-radius: 16px;
text-align: center;
margin-bottom: 65px;
}

.common_btn{
  display: flex;
  width: 100%;
  padding: 8px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.entry_page_footer{
  margin-top: auto;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 30px;
}

.entry_page_footer ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.entry_page_footer ul li{
  font-size: 10px;
  line-height: 16px;
  color: #BBBBBB;
}

.entry_page_content form{
  display: flex;
flex-direction: column;
gap: 13px;
}

.entry_page_content form p{
  font-weight: 600;
}

.entry_page_content form .form_group{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 16px;
  border-radius: 50px;
  border: solid var(--blue) 2px;
}

.entry_page_content form .form_group input{
  width: 100%;
  border: none;
  min-height: 40px;
  background-color: white !important;
}
.entry_page_content form .form_group input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important; 
  transition: background-color 5000;
}

.entry_page_content form .form_group input:focus{
  outline: none;
}

.entry_page_content form .form_group input::placeholder{
font-weight: 600;
color: var(--blue);
opacity: 0.5;
}

#error-message{
  color: #DC3545;
  font-size: 12px;
  line-height: 20px;
}

header{
  padding: 24px 20px;
  background-color: var(--blue);
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo{
  filter: invert(1) brightness(100);
  width: 92px;
  display: flex;
  align-items: center;
}

header nav h1{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: white;
}

header nav .options{
  padding: 0;
  width: 92px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
header nav .options .notification {
  position: relative;

}
header nav .options .notification #count{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #DC3545;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  line-height: 16px;
  border: solid white 1px;
  width: 22px;
  height: 22px;
  /* background: transparent; */
  display: grid;
    place-items: center;
    font-weight: 600;
}
header nav .button{
    background: none;
  border: none;
  position: relative;
}

header nav .button button.logout{
 position: absolute;
    min-width: 90px;
    right: 0;
    background: white;
    padding: 10px 13px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    top: 42px;
    border-radius: 8px;
    color: var(--blue);
    border: none;
    border: solid var(--blue) 1px;
}

header nav .button button.logout::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgb(255, 255, 255);
}


header nav .options .button img{
  filter: invert(-1) brightness(100);
  width: 24px;
  height: 24px;

}

.container{
  padding:20px 20px 80px 20px;
}
.apply_page form,
.apply_page form .heading_test,
.apply_page form  .form-group{
  display: flex;
  flex-direction: column;
}

.apply_page form .heading_test,
.apply_page form .form-group{
gap: 8px;
}

.apply_page form{
  gap: 16px;
}

.apply_page form .form-group{
  width: 100%;
}

.apply_page form .heading_test h2{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.apply_page form .heading_test p{
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}

.apply_page form  .form-group label{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.apply_page form  .form-group input,
.apply_page form  .form-group select,
.apply_page form  .form-group textarea{
  padding: 8px 16px;
  border-radius: 4px;
  border: solid rgba(0, 0, 0, 0.05) 1px;
  background: rgba(0, 0, 0, 0.05);
  min-height: 40px;
  width: 100%;
  max-width: 100%;
}

.apply_page form  .form-group textarea{
  height: 130px;
  resize: none;
}

.apply_page form .form-group.application_type{
  flex-direction: row;
  gap: 0;
  border-radius: 4px;
  overflow: hidden;
}

.apply_page form .form-group.application_type>div{
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.apply_page form .form-group.application_type>div input{
  display: none;
}

.apply_page form .form-group.application_type>div label{
  width: 100%;
  display: block;
  padding: 10px;
}

.apply_page form .form-group.application_type>div input:checked + label{
  background-color: var(--blue);
  color: white;
}

.apply_page form button[type="submit"]{
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 8px;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:white;
  display: flex;
}

footer ul{
  display: flex;
  width: 100%;
  border: solid rgba(0, 0, 0, 0.15) 1px;

}

footer ul li{
  width: 33.33%;
  text-align: center;
}

footer ul li a{
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-decoration: none;
}

footer ul li a p{
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  color: var(--blue);
}

.applications,
.applications ul,
.applications ul li .detail{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.applications h2{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--gray);
}

.applications ul li{
  display: flex;
  padding: 16px;
  border-radius: 16px;
  gap: 16px;
  border: solid rgba(0, 0, 0, 0.175) 1px;
  align-items: center;
}

.applications ul li .detail #leave_type{
font-size: 14px;
line-height: 22px;
color: black;
font-weight: 500;
}

.applications ul li .detail #date{
font-size: 10px;
line-height: 12px;
color: rgba(0, 0, 0, 0.6);
}

.applications ul li .detail #reason{
  font-size: 12px;
line-height: 16px;
color: rgba(0, 0, 0, 0.4);
max-height: 44px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
transition: 0.3s all;
word-break: break-all;
}


.applications ul li .detail #reason:hover{
  display:block;
  max-height: 204px;
}

.applications ul li .common_btn{
  max-width: 88px;
  font-size: 12px;
  line-height: 16px;
  background-color: #FD9843;
}

.applications ul li .common_btn.approved{
  background-color: #479F76;
  color: white;
}
.applications ul li .common_btn.rejected{
  background-color: #DC3545;
  color: white;
}

.status_selectbox{
  margin-left: auto;
}

.css-13cymwt-control,
.css-t3ipsp-control{
  background-color:#FD9843 !important;
  border-radius: 50px !important;
  padding: 0 10px !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.rejected .css-13cymwt-control,
.rejected .css-t3ipsp-control{
  background-color: #DC3545 !important;
}

.approved .css-13cymwt-control,
.approved .css-t3ipsp-control{
  background-color: #479F76 !important;
}

.css-1dimb5e-singleValue{
  font-size: 14px;
  line-height: 14px;
  color: white !important;
  min-width: 100px;
}


.css-tj5bde-Svg{
  fill: white !important;
}


.applications ul li .detail{
width: calc(100% - 88px);  
}

.apply_status_page .container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.txts{
  font-size: 14px;
  line-height: 22px;
}

.past_applications{
  margin-top: 16px;
}


#medical_certificate{
  font-size: 12px;
line-height: 16px;
color: var(--blue);
}

.home_banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-position: left top;
}

.home_banner p,
.home_banner h1{
  color: white;
  text-align: center;
}

.home_banner p{
  margin-top: 16px;
}

.home_banner h1{
  font-size: 20px;
  line-height: 24px;
}

.home_banner img{
  border-radius: 75px;
  float: left;
  object-fit: cover;
}

.home_banner .profile_img{
  position: relative;
}

.home_banner .profile_img #edit_profile{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--blue);
  width: 24px;
  height: 24px;
  border: solid white 1px;
  padding: 4px;
}

.top_sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 16px 0;
}

.top_sec h3{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.top_sec a,
.top_sec button{
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 20px;
  color: var(--blue);
  border: solid var(--blue) 1px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 50px;
}

.dashboard_cards{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.dashboard_cards .card{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  /* border: solid var(--gray) 1px; */
  width: calc(50% - 8px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.dashboard_cards .card div{
  display: flex;
  justify-content: space-between;
}

.dashboard_cards .card div span{
  display: flex;
  align-items: flex-end;
}

.dashboard_cards .card div span p:first-child{
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.dashboard_cards .card div span p{
  font-size: 16px;
  line-height: 16px;
  color: var(--gray);
}

.dashboard_cards .card>p{
  font-size: 12px;
  line-height: 12px;
  color: var(--gray);
  font-weight: 600;
}

.leave_profiles{
  display: flex;
  gap: 16px;
  overflow: auto;
}

.leave_profiles.full_list{
  flex-wrap: wrap;
}

.leave_profiles::-webkit-scrollbar{
  display: none;
}

.leave_profiles .profile{
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  background-color: var(--blue);
  border-radius: 10px;
  background-image: url('./src//leave-today-bg.svg');
  background-repeat: no-repeat;
  background-position: 110%  140%;
  min-width: fit-content;
  transition: 0.3s all;
}

.leave_profiles.full_list .profile{
  min-width: unset;
  width: calc(50% - 8px);
  transition: 0.3s all;
}

.leave_profiles .profile>img{
  border-radius: 100px;
}

.leave_profiles .profile h4,
.leave_profiles .profile p{
  color: white;
}

.leave_profiles .profile h4{
  font-size: 12px;
}

.leave_profiles .profile p{
  font-size: 10px;
  line-height: 10px;
    display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

.announcements{
  background-color: #13293D;
  padding: 24px 16px;
  border-radius: 16px;
  margin-top: 24px;
  background-image: url('./src//announcement-bg.svg');
  background-repeat: no-repeat;
  background-position: 100%  100%;
  background-size: 60%;

}

.announcements h4,
.announcements p{
  color: white;
}

.announcements h4{
      font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.announcements p{
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.recent_leaves{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recent_leaves .leave{
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 8px;
  border-radius: 16px;
  border: solid rgba(0, 0, 0, 0.175) 1px;
}

.recent_leaves .leave.rejected,
.all_leave_applications li.rejected{
  border-color: #DC3545;
  background-color: rgba(0, 0, 0, 0.05);
}

.recent_leaves .leave.pending,
.all_leave_applications li.pending{
  border-color: #FD9843;
  background-color: rgba(0, 0, 0, 0.05);
}

.recent_leaves .leave img{
  background-color: var(--blue);
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50px;
}

.recent_leaves .leave.rejected img{
  background-color: #DC3545;
}

.recent_leaves .leave.pending img{
  background-color: #FD9843;
}

.recent_leaves .leave div{
  display: flex;
  flex-direction: column;
}

.recent_leaves .leave div h5{
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.recent_leaves .leave div p.date{
  margin: 8px 0 0px 0;
}
.recent_leaves .leave div p{
  font-size: 10px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.recent_leaves .leave div p.reason{
  color: rgba(0, 0, 0, 0.4);
}

.party {
  margin-top: 24px;
}

.party p{
 font-size: 14px;
 line-height: 22px;
 text-align: center;
}

.loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  top: 0;
  left: 0;
}

.loader .spinner{
  width: 40px;
height: 40px;
border-radius: 50px;
border: solid 4px white;
border-top-color: transparent;
animation: spin 1s linear infinite;
}
@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}




@media screen and (min-width:767px) {
  body{
    display: none;
  }
}
